* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 300vh;
}
/*
                                  nav-bar
*/
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0%;
  padding: 20px 0px;
}
nav div {
  display: inline-block;
}
nav .nav-item-1 {
  width: 3%;
  text-align: center;
  font-size: 25px;
}
.nav-item-1 i {
  transition: 0.5s;
}
.nav-item-1 i:hover {
  color: rgb(255, 68, 0);
  font-size: 30px;
}
.nav-item-1 i:checked .left-hidden-box {
  width: 27%;
  padding: 0px 40px 30px 40px;
}
nav .nav-item-2 {
  width: 15%;
}
.nav-item-3 ul li {
  display: inline-block;
  font-size: 20px;
  margin-right: 30px;
}
.nav-item-3 li i {
  padding: 5px 0px 5px 5px;
  font-size: 20px;
  transition: 0.7s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
  padding: 16px 0px 16px 16px;
  font-family: myfirstfont;
}
.dropdown-content {
  position: absolute;
  display: none;
  background-color: rgb(242, 242, 242);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.li-dropdown-2 .dropdown-content {
  padding: 20px 40px;
}
.li-dropdown-3 .dropdown-content {
  padding: 20px 40px;
}
.li-dropdown-4 .dropdown-content {
  padding: 20px 40px 20px 20px;
}
.li-dropdown-5 .dropdown-content {
  padding: 20px 40px 20px 20px;
}
.flex {
  display: flex;
}
.flex-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-right: 20px;
  padding: 40px 0px 40px 40px;
}
.flex-container hr {
  border-color: rgb(222, 222, 222);
  width: 80%;
  margin-top: 5px;
}
.flex-container p {
  font-size: 17px;
  width: 150px;
}
.dropdown-content a {
  color: rgb(76, 76, 76);
  padding: 10px 0px;
  display: block;
  font-size: 17px;
  font-family: myfirstfont;
}
.dropdown-content a:hover {
  color: rgb(255, 21, 0);
}
.dropbtn:hover {
  color: rgb(255, 68, 0);
}
.dropbtn:hover i {
  transform: rotatex(180deg);
}
.nav-item-3 ul li:hover .dropdown-content {
  display: block;
}
/*
                                  left-hidden-box
*/
.left-hidden-box {
  height: 100vh;
  width: 0%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 3;
}
.left-hidden-box::-webkit-scrollbar {
  display: none;
}
.left-hidden-box .content {
  height: 130vh;
  width: 100%;
}
.left-hidden-box .grid-container {
  display: grid;
  height: 100%;
  gap: 20px;
}
.grid-container svg {
  position: absolute;
}
.left-hidden-box .grid-container .grid-item-1 {
  color: rgba(0, 0, 0, 0.359);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  font-size: 20px;
}
.left-hidden-box .grid-container .grid-item-2 {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: end;
  font-size: 20px;
}
.grid-item-1 p:hover,
.grid-item-2 i:hover {
  color: rgb(255, 68, 0);
}
.left-hidden-box .grid-container .grid-item-3 {
  background-image: url(./image/ea-play-16x9.png.adapt.crop1x1.767w.png);
  background-size: cover;
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  display: grid;
  position: relative;
}
.grid-item-3 svg {
  width: 100px;
  height: 100px;
  transition: 0.3s;
}
.grid-item-3:hover svg {
  width: 110px;
  height: 110px;
}
.left-hidden-box .grid-container .grid-item-4 {
  background-image: url(./image/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767w.jpg);
  background-size: cover;
  grid-column: 1;
  grid-row: 5;
  display: grid;
  position: relative;
}
.grid-item-4 svg {
  width: 60px;
  height: 60px;
  transition: 0.3s;
}
.grid-item-4:hover svg {
  width: 70px;
  height: 70px;
}
.left-hidden-box .grid-container .grid-item-5 {
  background-image: url(./image/1-1-gamebox-f122-keyart-1.png.adapt.crop1x1.767w.png);
  background-size: cover;
  grid-column: 2;
  grid-row: 5;
  display: grid;
  position: relative;
}
.grid-item-5:hover .bg-image {
  background-size: 100%;
}
.grid-item-5 .bg-image {
  width: 100px;
  height: 50px;
  background-image: url(./image/f122-gamebox-logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-position: center;
}
.left-hidden-box .grid-container .grid-item-6 {
  background-image: url(./image/madden-23-keyart.jpg.adapt.crop1x1.767w.jpg);
  background-size: cover;
  grid-column: 1;
  grid-row: 6;
  display: grid;
  position: relative;
}
.grid-item-6 svg {
  width: 70px;
  height: 70px;
  transition: 0.3s;
}
.grid-item-6:hover svg {
  width: 85px;
  height: 85px;
}
.left-hidden-box .grid-container .grid-item-7 {
  background-image: url(./image/apex-legends-keyart.jpg.adapt.crop1x1.767w.jpg);
  background-size: cover;
  grid-column: 2;
  grid-row: 6;
  display: grid;
  position: relative;
}
.grid-item-7 svg {
  width: 50px;
  height: 50px;
  transition: 0.1s;
}
.grid-item-7:hover svg {
  width: 60px;
  height: 60px;
}
.left-hidden-box .grid-container .grid-item-8 {
  background-image: url(./image/battlefield-2042-key-art.jpg.adapt.crop1x1.767w.jpg);
  background-size: cover;
  grid-column: 1;
  grid-row: 7;
  display: grid;
  position: relative;
}
.grid-item-8 svg {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
.grid-item-8:hover svg {
  width: 90px;
  height: 90px;
}
.left-hidden-box .grid-container .grid-item-9 {
  background-image: url(./image/the-sims-4-keyart.jpg.adapt.crop1x1.767w.jpg);
  background-size: cover;
  grid-column: 2;
  grid-row: 7;
  display: grid;
  position: relative;
}
.grid-item-9 .bg-image {
  width: 100px;
  height: 50px;
  background-image: url(./image/the-sims-4-mono-logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-position: center;
}
.grid-item-9:hover .bg-image {
  background-size: 100%;
}
.grid-container .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
